<div class="page-header">
  <h2><%= active_squad.name %> - <%= active_squad.positive_percentage %>%</h2>
  <div id="accordion" class="accordion">
		<% @players.each do |player| %>
	  	<h3><%= player.name %> <span class="badge <%= generate_badge_class(player.positive_percentage) %>"><%= player.positive_percentage %>%</h3>
			<div>
				<%= render :partial => 'tweets', :locals => { :tweets => player.tweets } %>
			</div>
			<% end %>
		</div>
	</div>
</div>


<script>$("#accordion").accordion({ active: false, collapsible: true, heightStyle: "content" });</script>