<table class="table">
	<%= high_chart("chart", @chart) %>
  <tbody>
		<% if tweets.present? %>  
			<h3>Tweets recentes:</h3>
    <% end %>
  	<% tweets.each do |tweet| %>
      <tr>
      	<td><b>(<%= tweet.confidence %>)</b><span class="label <%= positive_or_negative_class(tweet.positive) %>"><%= positive_or_negative_text(tweet.positive) %></span> <b><%= tweet.date.strftime("%d/%m/%Y") %></b> - <%= tweet.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>
